/*************** style.css ***************/


/* 4. WP styles and Screen readers
-------------------------------------------------------------- */
.alignleft {
	margin-left: 2.4em;
}
.alignright {
	margin-right: 2.4em;
}

.position-left {
	right: -4.66666667rem;
}
.position-right {
	left: -4.66666667rem;
}

.esg-filters div.esg-navigationbutton, .page_links > span:not(.page_links_title),
.comments_pagination .page-numbers, nav .page-count,
.nav-links .page-numbers,
.page_links > a {
	margin: 5px 0 0 5px;
}
div.esg-filters, .comments_pagination, .nav-links, .page_links {
	text-align: right;
}
nav.pagination .page-numbers.page-count {
	float: left;
}
.nav-links .page-numbers.next:before, .comments_pagination .page-numbers.next:before {
	content: '\e93a';
}
.nav-links .page-numbers.next:before, .comments_pagination .page-numbers.next:before {
	content: '\e939';
}
.nav-links .page-numbers.prev:before, .comments_pagination .page-numbers.prev:before {
	content: '\e93a';
}

blockquote:before {
	left: auto;
	right: -1.85em;
}
blockquote {
	text-align: right;
	margin: 0 3rem 0 0;
}

#theme_switcher {
	left: auto;
	right: -4.66666667rem;
}


/* 7.3 Post info (page/post title, category or tag name, author, meta, etc.)
-------------------------------------------------------------- */

.post_meta a.post_meta_item:before, .post_meta .vc_inline-link:before, .post_meta a.post_meta_item > .post_counters_number {
	margin-left: 0.4em;
	float: right;
}
.post_item_single .post_content > .post_meta_single .post_share .social_item {
	margin: 0 0 0.5em 0.5em;
}
.post_item_single .post_content .post_meta .post_share .social_item .social_icon span:first-child {
	margin-left: .3rem;
	margin-right: 0;
}
.slider_container.slider_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet, .slider_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet, .slider_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullets .swiper-pagination-bullet {
	display: inline-block;
	margin: 0 0 0 8px;
}
.sticky .label_sticky {
	left: -3.2rem;
	right: auto;
	-webkit-transform: rotate(134deg);
	-ms-transform: rotate(134deg);
	transform: rotate(134deg);
	transform: translateZ(1px) rotate(134deg);
}



/* 6. Page layouts
-------------------------------------------------------------- */
.sidebar_right [class*="content_wrap"] > .sidebar {
	float: left;
}
.sidebar_right [class*="content_wrap"] > .content {
	float: right;
}

.sidebar_left [class*="content_wrap"] > .sidebar {
	float: right;
}
.sidebar_left [class*="content_wrap"] > .content {
	float: left;
}

.post_subtitle .post_meta_item:not(:first-child) {
	padding: 1.8rem 2.4rem 1.6rem 0;
}
.post_subtitle .post_meta_item:first-child {
	margin-right: -4rem;
	margin-left: 0;
}
.single .post_subtitle .post_meta_item:first-child, .post_subtitle .post_meta_item:first-child a {
	margin-right: 2px;
	margin-left: 0;
}
.post_inner .post_meta .post_meta_label {
	margin-right: 0;
	margin-left: .7rem;
	float: right;
}
.post_inner .post_meta_item.post_categories ul {
	padding-right: 0;
}
.page .related_wrap .related_wrap_title, .page .comments_form_wrap .comments_form_title, .page .comments_list_wrap .comments_list_title, .page .post_subtitle .post_meta_item:first-child, .single .related_wrap .related_wrap_title, .single .comments_form_wrap .comments_form_title, .single .comments_list_wrap .comments_list_title, .single .post_subtitle .post_meta_item:first-child {
	margin-left: 0;

	margin-right: -3.85rem;
	margin-right: -webkit-calc(-4rem + 2px);
	margin-right: -moz-calc(-4rem + 2px);
	margin-right: calc(-4rem + 2px);
}

.nav-links-single .nav-links .nav-previous {
	float: right;
	text-align: right;
}
.nav-links-single .nav-links .nav-next {
	float: left;
	text-align: left;
}


/* 9. Sidebars
-------------------------------------------------------------- */

.widget ul {
	padding-right: 1.1em;
	padding-left: 0;
}

.post_inner .post_meta_item.post_categories li:before, .widget ul > li:before {
	right: -1.17em;
	left: auto;
}


/* Contact Form 7
-------------------------------------------------------------- */
.wpcf7-form {
	text-align: right;
}
button, input, optgroup, select, textarea, textarea.wp-editor-area {
	text-align: right;
}
label.required:after {
	display: none;
}
label.required:before {
	content: '\0002A';
	display: inline-block;
	position: relative;
	line-height: 1;
	font-weight: 600;
	color: #ff6e6e;
	vertical-align: text-top;
}
input[type="radio"] + label, input[type="checkbox"] + label, input[type="radio"] + .wpcf7-list-item-label, input[type="checkbox"] + .wpcf7-list-item-label, .edd_price_options ul > li > label > input[type="radio"] + span, .edd_price_options ul > li > label > input[type="checkbox"] + span {
	padding-right: 1.4em;
	padding-left: 0;
}
input[type="radio"] + label:before, input[type="checkbox"] + label:before, input[type="radio"] + .wpcf7-list-item-label:before, input[type="checkbox"] + .wpcf7-list-item-label:before, .wpcf7-list-item-label.wpcf7-list-item-right:before, .edd_price_options ul > li > label > input[type="radio"] + span:before, .edd_price_options ul > li > label > input[type="checkbox"] + span:before {
	left: auto;
	right: 0;
}


/* 7.4 Post Formats
-------------------------------------------------------------- */

.mejs-controls .mejs-button {
	margin-left: .5rem;
	margin-right: .7rem;
}
.mejs-controls .mejs-button.mejs-volume-button {
	margin-left: .5rem;
}
.format-quote .post_content, .format-aside .post_content, .format-link .post_content, .format-status .post_content {
	text-align: right;
}
.mejs-button > button,
.mejs-controls .mejs-button.mejs-playpause-button > button {
	text-align: center;
}


/* TRX Addons
-------------------------------------------------------------- */
.sc_accordionposts .sc_accordionposts_item_top .section_icon {
	left: 2rem;
	right: auto;
}
.sc_accordionposts .sc_accordionposts_item_top .sc_accordionposts_item_icon {
	right: -4.66666667rem;
	left: auto;
}
.sc_accordionposts .sc_accordionposts_item_top .sc_accordionposts_item_subtitle {
	margin-left: 0;
	margin-right: 2px;
}

.sc_blogger_testimonials .trx_addons_columns_wrap > .sc_supertitle_left_column[class*="trx_addons_column-"] {
	padding-left: 0;
	padding-right: 1.6rem;
}
.sc_blogger_testimonials .sc_testimonials_item_author_avatar {
	margin: 0 0 0 1.3em;
}
.sc_blogger_testimonials .sc_blogger_item_excerpt_text p:first-child:before {
	float: right;
	margin-right: 0;
	margin-left: .5rem;
}
.sc_blogger nav.sc_item_pagination {
	padding-right: 0;
	padding-left: 12px;
}

.widget_contacts .contacts_info:not(.show_labels) .contacts_item span:last-child:before, .widget_contacts .contacts_info:not(.show_labels) .contacts_item a:before, .widget_contacts .contacts_info span:before, .widget_contacts .contacts_info > div > a:before, .widget_contacts .contacts_info > a:before {
	left: auto;
	right: 0;
	text-align: right;
}
.widget_contacts .contacts_info:not(.show_labels) span.contacts_email, .widget_contacts .contacts_info:not(.show_labels) span.contacts_phone, .widget_contacts .contacts_info:not(.show_labels) a.contacts_phone, .widget_contacts .contacts_info:not(.show_labels) span.contacts_address, .widget_contacts .contacts_info:not(.show_labels) span.contacts_name, .widget_contacts .contacts_info:not(.show_labels) span.contacts_bdate, .widget_contacts .contacts_info:not(.show_labels) a.contacts_site {
	display: block;
	padding: 1.367rem 5.25rem 1.367rem 1rem;
}

/* Print buttons */
.sc_printbuttons_out_content.sc_align_right {
	left: -4.666667rem;
	right: auto;
}
.sc_printbuttons_out_content.sc_align_left {
	right: -4.666667rem;
	left: auto;
}
.sc_printbuttons_out_content.sc_align_right .sc_printbuttons_item:hover .sc_printbuttons_title {
	right: auto;
	left: 4.6rem;
}
.sc_printbuttons_out_content.sc_align_left .sc_printbuttons_item:hover .sc_printbuttons_title {
	left: auto;
	right: 4.6rem;
}
.sc_printbuttons_out_content.sc_align_right .sc_printbuttons_title {
	left: -1px;
	right: auto;
}
.sc_printbuttons_out_content.sc_align_left .sc_printbuttons_title {
	right: -1px;
	left: auto;
}
.sc_accordionposts .sc_accordionposts_item_inner .sc_printbuttons_out_content {
	left: -7.3rem;
	right: auto;
}

/* Super Title */
.sc_supertitle_icon_empty_column .sc_supertitle_no_icon {
	left: auto;
	right: 0;
}
.trx_addons_columns_wrap {
	margin-right: 0;
	margin-left: -30px;
}
.sc_supertitle_right_column {
	text-align: left;
}

/* Sklls */
.sc_skills_pie.sc_skills_compact_on .sc_skills_legend_title {
	margin-left: 0;
	margin-right: .65em;
}
.sc_skills_item_wrap .dot + .dot {
	margin-left: 0;
	margin-right: 2px;
}

/* Layouts */
.sc_layouts_column_align_left, .sc_layouts_column.sc_layouts_column_align_left .widget, .sc_layouts_column.sc_layouts_column_align_left .widget_title, .sc_layouts_column.sc_layouts_column_align_left .widgettitle {
	text-align: right;
}

.widget_area .post_item, aside .post_item {
	text-align: right;
}
.widget_calendar td#prev {
	text-align: right;
}
.widget_calendar td#next {
	text-align:left;
}
.sc_edd_details .downloads_page_tags .downloads_page_data > a, .widget_product_tag_cloud a, .widget_tag_cloud a, .post_meta .post_tags a {
	float: right;
	margin: 0 0 2px 2px;
}
.widget_recent_comments ul[id^="recentcomments"] {
	padding-right: 0;
}
.widget_area .post_item .post_title, aside .post_item .post_title {
	text-align: right;
}



/* Responsive
-------------------------------------------------------------- */

@media (max-width: 1279px) {
	.body_style_boxed #theme_switcher {
		left: auto;
		right: 5px;
	}
}

@media (max-width: 767px) {
	nav.pagination .page-numbers.page-count {
		float: none;
	}
	.single .comments_form_wrap .comments_form_title, .single .comments_list_wrap .comments_list_title, .single .post_subtitle .post_meta_item:first-child {
		margin-right: -2.85rem;
		margin-right: -webkit-calc(-3rem + 2px);
		margin-right: -moz-calc(-3rem + 2px);
		margin-right: calc(-3rem + 2px);
	}
	.single .post_subtitle .post_meta .post_meta_item:first-child {
		margin-left: 40%;
	}
	.post_subtitle .post_meta_item.post_author {
		padding-left: 1rem;
		padding-right: 0;
	}
	.post_subtitle .post_meta_item:not(:first-child) {
		padding: 1.5rem 0 0 2.4rem;
	}
	.post_subtitle .post_meta_item.post_author {
		padding-left: 1rem;
		padding-right: 0;
	}
	.post_inner .post_meta .post_meta_label,
	.post_meta .post_tags a {
		float: none;
	}
	.post_layout_excerpt blockquote {
		padding: 2em 4em 2em 2em;
	}
	.post_layout_excerpt blockquote:before {
		right: 1em;
		left: auto;
	}
}
@media (max-width: 595px) {
	.sc_printbuttons, .sc_printbuttons_out_content.sc_align_center, .sc_printbuttons_out_content.sc_align_right, .sc_printbuttons_out_content.sc_align_left, .sc_accordionposts .stick-to-top .sc_printbuttons, .sc_accordionposts .stick-to-top .sc_printbuttons {
		top: initial;
		right: initial;
		bottom: initial;
		left: initial;
	}
	.sc_printbuttons_out_content.sc_align_right .sc_printbuttons_item .sc_printbuttons_title, .sc_printbuttons_out_content.sc_align_right .sc_printbuttons_item:hover .sc_printbuttons_title {
		right: 1px;
	}
	.sc_printbuttons_out_content.sc_align_center .sc_printbuttons_item .sc_printbuttons_title, .sc_printbuttons_out_content.sc_align_left .sc_printbuttons_item .sc_printbuttons_title, .sc_printbuttons_out_content.sc_align_center .sc_printbuttons_item:hover .sc_printbuttons_title, .sc_printbuttons_out_content.sc_align_left .sc_printbuttons_item:hover .sc_printbuttons_title {
		right: 1px;
	}
	.sc_accordionposts .sc_accordionposts_item_top .sc_accordionposts_item_subtitle {
		margin-right: 0;
	}
	header .sc_printbuttons_out_content {
		text-align: left;
	}
}

@media (max-width: 480px) {
	.single .post_subtitle .post_meta .post_meta_item:first-child {
		margin-left: 10%;
		margin-right: -3rem;
	}
}
